<?xml version="1.0"?>
<model>
  <name>AutoRobotPrototype</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>yamashita</name>
    <email>yamashitaaoi1230@icloud.com</email>
  </author>

  <description>
    Auto Robot Prototype ABU robocon 2024
  </description>
</model>